<div class="row col s12 m12 l12 xl12" id="about-page">
    <div class="page-title">About Game Space</div>
    <div id="about-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae nisl id metus malesuada facilisis ut ac enim. Fusce pulvinar tellus velit. Aliquam erat volutpat. Pellentesque posuere dapibus neque a eleifend. Donec sed odio non ligula pharetra
            sagittis at id nunc. Nam ac egestas risus. Curabitur lectus turpis, ultrices in tincidunt ut, mattis ut nisl. Vivamus condimentum, nibh posuere venenatis posuere, nunc erat vestibulum magna, non suscipit sapien orci at augue. Maecenas tincidunt
            sed quam sit amet iaculis. Donec rhoncus finibus elit, id tristique nisi malesuada nec. Etiam at urna vitae turpis pharetra mattis vel a massa. Sed vulputate consectetur ex, sit amet consequat nisl euismod at.
        </p>
        <p> Nullam eget nulla sagittis, placerat dui id, sodales nunc. Phasellus molestie rhoncus dolor sit amet dictum. Phasellus tristique sem et nisl condimentum, quis egestas nulla mattis. Cras nec fringilla erat. Nunc lacus neque, auctor in odio eu,
            lacinia interdum ipsum. Etiam porttitor orci id dictum dignissim. Sed maximus ultrices hendrerit.
        </p>
        <p> Curabitur in quam leo. Aenean et quam vel ex facilisis varius sit amet quis enim. Sed a blandit lectus, et sollicitudin eros. Praesent risus enim, dapibus sit amet dictum vitae, feugiat ut turpis. Cras lacinia tincidunt tincidunt. Nunc venenatis
            consectetur suscipit. Sed sed finibus magna, eu rhoncus sem. Donec in nunc facilisis sem malesuada viverra fermentum vel massa. Phasellus ac dolor posuere, elementum quam et, egestas urna. Cras porttitor metus ac vehicula porta. Sed magna
            ligula, accumsan a consequat vitae, viverra sed massa. Ut tempor mauris mi, non dictum magna placerat sit amet. Nullam ac eros vitae est facilisis porttitor id nec libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sem
            nisl, sagittis in elit et, consequat porttitor elit.
        </p>
        <p> Donec eu volutpat libero. Morbi id justo facilisis, consequat nisi eget, fringilla massa. In hac habitasse platea dictumst. Mauris vel sapien vel nulla blandit vestibulum mollis ut quam. In venenatis commodo dapibus. Mauris fermentum sodales nisi,
            ut gravida diam vehicula a. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi pulvinar tempor felis, nec semper justo luctus aliquam. Aliquam fermentum, velit eget congue ornare, urna mi fermentum
            arcu, in consequat odio ipsum vel felis. Nam faucibus in turpis non ultrices. Aliquam justo ex, fermentum vel risus vitae, tempor ornare neque. Donec sit amet ex eu libero pellentesque posuere.
        </p>
        <p> Integer eu sapien tortor. Phasellus pellentesque posuere risus sed porttitor. Ut lobortis, nunc in lacinia feugiat, ligula nisi fermentum nisi, quis lobortis tortor nibh sed leo. Fusce vestibulum tempor arcu, sed luctus lacus. Curabitur ut risus
            ac quam porttitor accumsan maximus at nisl. Cras auctor libero sed ex porttitor volutpat. Aliquam eget fermentum diam. Suspendisse euismod consequat feugiat. Pellentesque quis mollis massa. Donec viverra ligula erat, quis tristique ligula
            bibendum vel. Quisque iaculis aliquam nibh. Nam porta, erat ut cursus rutrum, diam metus aliquam leo, in pretium urna nunc ac lorem. Duis sagittis, odio sed bibendum eleifend, magna velit scelerisque metus, quis pharetra orci nibh eu eros.
            In tempus eros eu pretium fermentum.
        </p>
        <div id="about-logo"><img src="../assets/images/logo.png" alt=""></div>
    </div>
</div>