.game-title h3 {
    display: block;
    text-align: right;
    padding: 0 10px;
    font-size: 40px;
    background-color: rgb(255, 183, 183);
    margin: 80px 0 0 -12px;
}

.game-cover {
    text-align: center;
    padding: 0 5% 5% 2%;
    /* float: left; */
}

.game-youtube {
    text-align: center;
    padding: 30px 30px;
    min-height: 450px;
    border: 1px solid #333;
    border-radius: 3px;
    margin: 0 10px 20px 10px;
    background-color: #f4f4f4;
    display: block;
}

.game-tube {
    font-size: 16px;
    text-align: justify;
    margin-top: 20px;
}

.game-bullets {
    text-align: left;
    padding: 20px 5%;
    min-height: 450px;
    border: 1px solid #333;
    border-radius: 3px;
    margin: 0 10px 20px 10px;
    background-color: #f4f4f4;
    display: block;
}

.game-requirements {
    text-align: left;
    padding: 20px 5%;
    margin: 0 10px 20px 10px;
}

.game-price {
    font-size: 28px;
    padding: 30px;
}

.details-block-header {
    margin: 0 10px 20px 10px;
    text-align: center;
    font-size: 22px;
}

.game-description {
    min-height: 200px;
    border: 1px solid #333;
    border-radius: 3px;
    padding: 30px;
    margin: 0 10px 20px 10px;
    background-color: #f4f4f4;
    display: block;
    font-size: 18px;
    font-weight: 400;
}

li {
    list-style-type: square !important;
}

@media only screen and (min-width: 1200px) {
    .game-cover {
        margin-right: 0px;
    }
}

@media only screen and (min-width: 993px) {
    .game-cover {
        margin-right: 0px;
    }
}

@media only screen and (min-width: 601px) {}

#details {
    background-image: url("../../../assets/images/backgrounds/back-noise.png");
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    background-attachment: fixed;
}