<div class="row" id="details">

    <div class="row">
        <div class="game-title col s12 m6 l6 xl6">
            <h3>{{currentGameData.title}}</h3>
        </div>
    </div>

    <div class="row">
        <div class="game-cover col s12 m12 l3 xl3">
            <img id="game-details-image" src="{{currentGameData.image}}" alt="{{currentGameData.title}}">
        </div>

        <div class="game-youtube col s12 m12 l4 xl4">
            <span class="details-block-header"><b>TRAILER</b></span>
            <div class="game-tube">
                <div class="video-container">
                    <iframe width="560" height="315" [src]="safeSource" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>

        </div>

        <div class="game-bullets col s12 m12 l4 xl4">
            <div class="game-price valign-wrapper" style="height:100px; width: 200px; float: left;">
                € {{currentGameData.price}}
            </div>
            <div *ngIf="!publisherMenu" class="game-buttons">
                <a *ngIf="!currentUserData" [routerLink]="['../../../user/login']" class="waves-effect waves-light btn-large" id="game-buy-btn"><i class="material-icons left">lock</i>Login</a>
                <a *ngIf="!gameBought && currentUserData" (click)="buyGame(currentGameData.objectId)" class="waves-effect waves-light btn-large" id="game-buy-btn"><i class="material-icons left">cloud_download</i>Buy Now</a>
                <a *ngIf="gameBought && currentUserData" class="waves-effect waves-light btn-large" id="game-buy-btn"><i class="material-icons left">tag_faces</i>You own it</a>
                <br><br>
                <a *ngIf="!currentUserData" [routerLink]="['../../../user/register']" class="waves-effect waves-light btn-large" id="game-buy-btn"><i class="material-icons left">person_add</i>Register</a>
                <a *ngIf="!inWishlist && currentUserData" (click)="addGameToWishlist(currentGameData.objectId)" class="waves-effect waves-light btn-large" id="game-buy-btn"><i class="material-icons left">favorite</i>Add To Wishlist</a>
                <a *ngIf="inWishlist && currentUserData" class="waves-effect waves-light btn-large" id="game-buy-btn"><i class="material-icons left">check_box</i>In your Wishlist</a>
            </div>

            <div *ngIf="publisherMenu && currentUserData" class="game-buttons">
                <a [routerLink]="['../../add']" class="waves-effect waves-light btn-large"><i class="material-icons left">videogame_asset</i>Add Game</a><br><br>
                <a [routerLink]="['../../my-games']" class="waves-effect waves-light btn-large mygames-btn"><i class="material-icons left">games</i>My Games</a>
            </div>
            <div class="game-requirements">
                <span class="details-block-header"><b>PC REQUIREMENTS</b></span>
                <ul>
                    <li *ngIf="currentGameData.bullet1"><b>CPU:</b> {{currentGameData.bullet1}}</li>
                    <li *ngIf="currentGameData.bullet2"><b>GPU:</b> {{currentGameData.bullet2}}</li>
                    <li *ngIf="currentGameData.bullet3"><b>RAM:</b> {{currentGameData.bullet3}}</li>
                    <li *ngIf="currentGameData.bullet4"><b>HDD:</b> {{currentGameData.bullet4}}</li>
                    <li *ngIf="currentGameData.bullet5"><b>OS:</b> {{currentGameData.bullet5}}</li>
                </ul>
            </div>
        </div>

        <div class="row" style="clear: both;">
            <span class="details-block-header"><b>DESCRIPTION</b></span>
            <div class="game-description col s12 m12 l12 xl12">
                {{currentGameData.description}}
            </div>
        </div>
    </div>

</div>