#user-register {
    margin-top: 170px;
}

#user-register-main {
    background-image: url("../../../assets/images/backgrounds/back-noise.png");
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    background-attachment: fixed;
    padding-top: 30px;
}

@media only screen and (min-width: 1200) html {
    #user-register {
        width: 50%;
    }
}

@media only screen and (min-width: 992px) html {
    #user-register {
        width: 50%;
    }
}

@media only screen and (min-width: 600) html {
    #user-register {
        width: 50%;
    }
}

@media only screen and (max-width: 600) html {
    #user-register {
        width: 50%;
    }
}

#register-left,
#register-right {
    text-align: center;
}

#register-left img,
#register-right img {
    width: 80%;
}

#register-buttons {
    margin: 30px 0;
    text-align: center;
}

.register-btn {
    margin: 0 10px;
}

.register-switch {
    margin: 30px 0;
}

.page-title {
    display: block;
    font-size: 32px;
    text-align: center;
    padding-bottom: 20px;
    margin-top: -50px;
}

#already-registered {
    text-align: center;
    margin: 10px 0;
}

.error-text-red {
    color: red;
    padding-left: 20px;
}