<div class="row">

    <!-- showcase -->
    <div id="showcase" class="col s12 m12 l12 xl12">
        <img src="../../assets/images-games/football-manager-2021-img-low.jpg" alt="Football Manager 2021">
    </div>

    <div id="games">
        <div class="col s12 m6 l4 xl3">
            <div class="product-card" style="padding:10px; text-align: center;">
                <div class="card">
                    <div class="card-img">
                        <a routerLink="details"><img src="../../assets/images-games/assasins-creed-valhala-cover.jpg" alt="Assasins Creed Valhala"></a>
                    </div>
                    <div class="card-title">
                        <h3>Assasins Creed Valhala</h3>
                    </div>
                    <div class="card-price">
                        € 59.99
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>