<div class="row">

    <!-- showcase -->
    <!-- <div id="showcase" class="col s12 m12 l12 xl12">
        <img src="../../assets/images-games/football-manager-2021-img-low.jpg" alt="Football Manager 2021">
    </div> -->

    <div id="games">

        <div *ngFor="let game of games" class="col s12 m6 l4 xl3">
            <div class="product-card" style="padding:10px; text-align: center;">
                <div class="card">
                    <div class="card-img">
                        <a (click)="getGameId(game.objectId)" routerLink="details/{{game.objectId}}"><img src="{{game.image}}" alt="{{game.title}}"></a>
                    </div>
                    <div class="card-title">
                        <h3>{{game.title}}</h3>
                    </div>
                    <div class="card-price">
                        €{{game.price}}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>