<div id="header-main" class="row">
    <div id="header" class="col s12 m12 l12 xl12">

        <!-- logo -->
        <div id="logo" class="col s2 m2 l2 xl2">
            <div class="logo">
                <a routerLink="/"><img src="../assets/images/logo.png" alt=""></a>
            </div>
        </div>


        <!-- navbar -->
        <nav id="navbar" class="col s4 m4 l4 xl4">
            <a routerLink="/">Home</a>
            <a routerLink="/games">Games</a>
            <a routerLink="/about">About</a>

        </nav>


        <!-- usermenu -->
        <div id="usermenu" class="col s6 m6 l6 xl6">
            <a *ngIf="!isLogged" routerLink="/user/register">Register</a>
            <a *ngIf="!isLogged" routerLink="/user/login">Login</a>
            <a *ngIf="isLogged" routerLink="/" (click)="logoutUser()">Logout</a>
            <a *ngIf="isLogged" routerLink="/user/profile">Profile</a>
            <a *ngIf="isLogged && !publisherMenu" routerLink="/user/my-orders">My Orders</a>
            <a *ngIf="isLogged && publisherMenu" routerLink="/user/orders">Orders</a>
            <a *ngIf="isLogged && !publisherMenu" routerLink="/user/wishlist">Wishlist</a>
            <a *ngIf="isLogged" id="user-greeting">Hello, {{userName}}</a>
        </div>
    </div>


    <!-- header - sticky -->
    <div id="header-sticky" class="col s12 m12 l12 xl12">
        <!-- logo -->
        <div class="logo" class="col s1 m1 l1 xl1">
            <a href="/"><img src="../assets/images/logo.png" alt=""></a>
        </div>
        <!-- navbar -->
        <nav id="navbar" class="col s4 m4 l4 xl4">
            <a routerLink="/">Home</a>
            <a routerLink="/games">Games</a>
            <a routerLink="/about">About</a>
        </nav>
        <!-- usermenu -->
        <div id="usermenu" class="col s7 m7 l7 xl7">
            <a *ngIf="!isLogged" routerLink="/user/register">Register</a>
            <a *ngIf="!isLogged" routerLink="/user/login">Login</a>
            <a *ngIf="isLogged" routerLink="/" (click)="logoutUser()">Logout</a>
            <a *ngIf="isLogged" routerLink="/user/profile">Profile</a>
            <a *ngIf="isLogged && !publisherMenu" routerLink="/user/my-orders">My Orders</a>
            <a *ngIf="isLogged && publisherMenu" routerLink="/user/orders">Orders</a>
            <a *ngIf="isLogged && !publisherMenu" routerLink="/user/wishlist">Wishlist</a>
            <a *ngIf="isLogged" id="user-greeting-sticky">Hello, {{userName}}</a>
        </div>
    </div>


</div>