<div id="add-game" class="container">
    <div class="page-title">Edit Game</div>
    <div class="row">
        <div id="add-game-left" class="col s12 m12 l3 xl3">
            <img src="../../assets/images-games/assasins-creed-valhalla-img.png" alt="">
        </div>
        <div class="col s12 m12 l6 xl6">
            <form #e="ngForm" (ngSubmit)="editGame()">
                <div class="row">
                    <div>
                        <input id="name" type="text" name="name" [(ngModel)]="game.title">
                        <label for="name">Name</label>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <input id="image" type="text" class="validate" name="imageUrl" [(ngModel)]="currentGameData.image_url">
                        <label for="image">Image URL</label>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <textarea id="description" type="text" class="materialize-textarea" name="description" [(ngModel)]="currentGameData.description"></textarea>
                        <label for="description">Description</label>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <textarea id="bullets" class="materialize-textarea" name="bullets" [(ngModel)]="currentGameData.bullets"></textarea>
                        <label for="bullets">Bullets</label>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <textarea id="requirements" class="materialize-textarea" name="requirements" [(ngModel)]="currentGameData.requirements"></textarea>
                        <label for="requirements">Requirements</label>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <input id="price" type="text" class="validate" name="price" [(ngModel)]="currentGameData.price">
                        <label for="price">Price</label>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <input id="trailer" type="text" class="validate" name="youtubeTrailerUrl" [(ngModel)]="currentGameData.youtube_url">
                        <label for="trailer">Youtube Trailer URL</label>
                    </div>
                </div>
                Info: {{ e.value | json }}
                <div id="add-game-buttons">
                    <button class="btn waves-effect waves-light add-game-btn" name="action" [disabled]="e.invalid"><i class="material-icons left">input</i>Edit</button>
                    <button class="btn waves-effect waves-light add-game-btn" name="action" (click)="cancelGameEdit()"><i class="material-icons left">input</i>Cancel</button>
                </div>
            </form>
        </div>
        <div id="add-game-right" class="col s12 m12 l3 xl3">
            <img src="../../assets/images-games/bugsnax-img.png" alt="">
        </div>
    </div>

</div>