#add-game {
    margin-top: 200px;
    background-image: url("../../../assets/images/backgrounds/back-noise.png");
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    background-attachment: fixed;
}

@media only screen and (min-width: 1200) html {
    #add-game {
        width: 50%;
    }
}

@media only screen and (min-width: 992px) html {
    #add-game {
        width: 50%;
    }
}

@media only screen and (min-width: 600) html {
    #add-game {
        width: 50%;
    }
}

@media only screen and (max-width: 600) html {
    #add-game {
        width: 50%;
    }
}

#add-game-left,
#add-game-right {
    text-align: center;
}

#add-game-left img,
#add-game-right img {
    width: 80%;
}

#add-game-buttons {
    margin: 30px 0;
    text-align: center;
}

.add-game-btn {
    margin: 0 10px;
}

.register-switch {
    margin: 30px 0;
}

.page-title {
    display: block;
    font-size: 32px;
    text-align: center;
    padding-bottom: 20px;
    margin-top: -50px;
}

.error-text-red {
    color: red;
    padding-left: 20px;
}