<div id="user-login" class="container">
    <div class="page-title">Log in you account</div>
    <div class="row">
        <div id="login-left" class="col s12 m12 l3 xl3">
            <img src="../../assets/images-games/assasins-creed-valhalla-img.png" alt="">
        </div>
        <div class="col s12 m12 l6 xl6">
            <form>
                <div class="row">
                    <div>
                        <input id="email" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <input id="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                <button class="btn waves-effect waves-light" name="action"><i class="material-icons left">input</i>Login</button>
            </form>
        </div>
        <div id="login-right" class="col s12 m12 l3 xl3">
            <img src="../../assets/images-games/bugsnax-img.png" alt="">
        </div>
    </div>

</div>