#user-login {
    margin-top: 200px;
}

@media only screen and (min-width: 1200) html {
    #user-login {
        width: 50%;
    }
}

@media only screen and (min-width: 992px) html {
    #user-login {
        width: 50%;
    }
}

@media only screen and (min-width: 600) html {
    #user-login {
        width: 50%;
    }
}

@media only screen and (max-width: 600) html {
    #user-login {
        width: 50%;
    }
}

#login-left,
#login-right {
    text-align: center;
}

#login-left img,
#login-right img {
    width: 80%;
}